body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color:lightpink;
    color: #181616;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 40px 0;
}

section h2 {
    color: #333;
}

.project {
    margin-bottom: 40px;
}

.project img {
    width: 100%;
    height: auto;
}

form {
    display: grid;
    gap: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
